name: Run Tests

on:
  push:
    branches:
      - initial

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11.2

      - name: Run tests
        run: |
          python -m unittest discover -v

      - name: Set status on failure
        if: failure()
        run: exit 1
